.main-about {
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-about .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main-about .about-title {
	width: 100%;
	text-align: left;
	padding-left: 10%;
	text-transform: uppercase;
}

.main-about .about-text {
	width: 40%;
	font-weight: 300;
}

.main-about .about-text span {
	font-weight: 700;
}

.main-about .about-image img {
	height: 300px;
	width: 300px;
	margin-left: 50px;
}

@media all and (max-width: 940px) {
	.main-about {
		width: 90%;
		text-align: center;
		padding-top: 25%;
		padding-bottom: 4%;
		height: auto;
	}
	
	.main-about .about-title {
		text-align: center;
		padding: 0;
		padding-top: 10%;
	}

	.main-about .about-text {
		width: 80%;
	}

	.main-about .about-image img {
		height: 175px;
		width: 175px;
		margin: 0 auto;
	}
}