.main-about {
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-about .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main-about .about-title {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	// border: 1px solid green;
}

.main-about .about-text {
	width: 40%;
	font-weight: 300;
	// border: 1px solid yellow;
}

.main-about img {
	height: 300px;
	width: 300px;
	margin-left: 50px;
	// border: 1px solid red;
}
