.main-about {
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
	// border: 1px solid yellow;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-about .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	// align-items: center;
	// border: 1px solid green;	
}

.main-about .about-image {
	// width: 40%;
}

.main-about .about-text {
	width: 40%;
}
.main-about img {
	height: 300px;
	width: 300px;
}
