.main-contact{
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
	// border: 1px solid yellow;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-contact .content {
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-around;
	// align-items: center;
	// border: 1px solid green;	
}



// .main-contact {
// 	align-items: center;
// 	justify-content: center;
	// justify-content: center;
	// display: flex;
	// width: 30%;
	// border: 1px solid yellow;
	// flex-direction: row;
	// justify-content: space-around;
	// align-items: center;
	// justify-content: flex-end;
	// margin: auto;
//}

// .main-contact .container {
// 	// width: 100%;
// 	// margin: auto;
// 	background: white;
// 	// height: 300px;
// 	// border: 1px solid red;
// }

