.main-contact{
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
}

.main-contact p {
	font-weight: 300;
}

.main-contact .container {
	display: flex;
	justify-content: space-around;
	// border: 1px solid green;
	padding: 3% 0;
}

.main-contact .contact-form {
	// border: 1px solid yellow;
	width: 35%;
	padding-left: 2%;
}

.main-contact .contact-text {
	// border: 1px solid red;
	width: 50%;
	padding-right: 2%;
}

.main-contact .contact-text p:first-child {
	font-weight: 400;
}


.main-contact input[type="text"]:focus,
.main-contact input[type="email"]:focus,
.main-contact input[type="submit"]:focus,
.main-contact textarea:focus {
	outline: none;
}

.main-contact input[type="text"],
.main-contact input[type="email"],
.main-contact input[type="submit"],
.main-contact textarea {
	width: 100%;
	padding: 0.6rem;
	border: none;
	border: 1px solid darkgrey;
	// border-bottom: 1px solid darkgrey;
	resize: none;
	}

.main-contact textarea {
	height: 10rem;
	margin-bottom: 1rem;
	}

.main-contact input[type="submit"] {
	width: 25%;
	padding: 10px 20px;
	border: 1px solid darkgrey;
	background: none;
	color: black;
	font-weight: 300;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.main-contact input[type="submit"]:hover {
	background: rgba(0, 0, 0, 1);
	color: white;
}

