.main-contact{
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
}

.main-contact p {
	font-weight: 300;
}

.main-contact .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 4% 0;
}

.main-contact .contact-title {
	text-align: left;
	padding-left: 8%;
	width: 100%;
	text-transform: uppercase;
}

.main-contact .contact-form {
	width: 35%;
	padding-left: 2%;
}

.main-contact .contact-form p {
	font-size: 14px;
}

.main-contact .contact-text {
	text-align: left;
	width: 40%;
	padding-right: 2%;
}

.main-contact .contact-text p:first-child {
	font-weight: 400;
}

.main-contact input[type="text"]:focus,
.main-contact input[type="email"]:focus,
.main-contact input[type="submit"]:focus,
.main-contact textarea:focus {
	outline: none;
}

.main-contact input[type="text"],
.main-contact input[type="email"],
.main-contact input[type="submit"],
.main-contact textarea {
	width: 100%;
	padding: 5px;
	border: none;
	border: 1px solid darkgrey;
	resize: none;
}

.main-contact textarea {
	height: 10rem;
	margin-bottom: 1rem;
}

.main-contact input[type="submit"] {
	width: 100px;
	padding: 10px 20px;
	border: 1px solid darkgrey;
	background: none;
	color: black;
	font-weight: 300;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.main-contact input[type="submit"]:hover {
	background: rgba(0, 0, 0, 1);
	color: white;
}

.main-contact i {
	font-size: 60px;
}

.main-contact .email {
	font-size: 30px;
}

.main-contact a {
	color: black;
}

.main-contact a:visited {
	color: black;
}

.main-contact a:hover {
	transition: all 0.3s ease;
	color: crimson;
}

@media all and (max-width: 940px) {
	.main-contact {
		width: 90%;
		text-align: center;
		padding-top: 31%;
		padding-bottom: 1%;
		height: auto;
	}

	.main-contact .contact-title {
		order: -2;
		text-align: center;
		padding: 0;
	}

	.main-contact .contact-text {
		order: -1;
		width: 80%;
		text-align: center;
		padding: 0;
		padding-bottom: 50px;
	}
	
	.main-contact input[type="submit"] {
		width: 100%;
	}

	.main-contact .email {
		font-size: 26px;
	}

	.main-contact .contact-form {
		width: 75%;
		padding: 0;
	}

	.contact-form {
		z-index: 10;
	}
}

@media all and (max-width: 350px) {
	.main-contact .email {
		font-size: 24px;
	}
}