footer {
	clear: both;
	// align-self: flex-end;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid lightgrey;
}

footer .container {
	// border: 1px solid yellow;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: white;
	color: black;
	text-transform: uppercase;
	padding: 1% 0;
}

.footer-logo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.footer-logo h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 20px;
}

.footer-logo h4 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 16px;
}

footer .container .footer-nav li a {
	color: black;
	padding: 0;
	background: none;
	font-size: 15px;
	font-weight: 300;
}

footer .footer-social {
	display: flex;
	flex-direction: row;
}

footer .footer-social li {
	display: inline-block;
}

footer .footer-social ul {
	padding: 0;
}

.footer-social i {
  font-size: 20px;
  padding: 0 3px;
}

footer .container .footer-nav li a:hover,
footer .container .footer-social li .fa:hover  {
  transition: all 0.3s ease;
  color: crimson;
}
