footer {
	clear: both;
	align-self: flex-end;
	width: 100%;
}

footer .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: white;
	color: black;
	text-transform: uppercase;
	padding: 1% 0;
}

.footer-logo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-logo h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 20px;
}

.footer-logo h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

footer .container .footer-nav li a {
	color: black;
	padding: 0;
	background: none;
	font-size: 15px;
}

footer .footer-social {
	display: flex;
	flex-direction: row;
}

footer .footer-social li {
	display: inline-block;
}

footer .footer-social ul {
	padding: 0;
}

// .footer-social img {
//   float: right;
//   margin-left: 15px;
// }

.footer-social i {
  color: black;
  font-size: 20px;
}

// nav a:hover {
//   color: #fa5c5d;
// }