footer {
	clear: both;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid lightgrey;
}


footer .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: white;
	color: black;
	text-transform: uppercase;
	padding: 1% 0;
}

.footer-logo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.footer-logo h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 20px;
	// letter-spacing: 1.1px;
}

.footer-logo h4 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 18px;
}

footer .container .footer-nav li {
	padding: 0 15px;
}

footer .container .footer-nav li a {
	color: black;
	padding: 0;
	background: none;
	font-size: 15px;
	font-weight: 300;
}

.footer-social {
	display: flex;
	flex-direction: row;
}

.footer-social-bottom {
	display: none;
	flex-direction: row;
}

.footer-social li {
	display: inline-block;
}

.footer-social ul {
	padding: 0;
}

.footer-social i {
  font-size: 20px;
  padding: 0 3px;
}

footer .container .footer-nav li a:hover,
footer .container .footer-social li .fa:hover  {
  transition: all 0.3s ease;
  color: crimson;
}

@media all and (max-width: 940px) {
	footer {
		top: 0;
		height: 125px;
	}
	
	footer .container {
		align-items: center;
		flex-direction: column;
		border-bottom: 1px solid lightgrey;
		padding: 0;
	}

	.footer-logo h3 {
		font-size: 22px;
	}

	.footer-logo h4 {
		font-size: 15px;
		border-bottom: 1px solid grey;
	}

	footer .footer-logo {
		width: 100%;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	footer .container .footer-nav li {
		padding: 0 5px;
	}

	.footer-social {
		display: none;
	}

	.footer-social-bottom {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 20px;
		border-top: 1px solid lightgrey;
		// position: absolute;
		// bottom: 0;
		// padding: 0;
		// margin-left: auto;
		// margin-right: auto;
		// left: 0;
		// right: 0;
	}
	
	footer .footer-logo {
		padding: 0 3px;
		width: 50%;
		text-align: left;
	}

	footer .footer-nav {
		order: 1;
		width: 100%;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 3%;
	}

	footer .footer-social i {
		font-size: 16px;
	}
}


@media all and (max-width: 350px) {
	.footer-logo h3 {
		font-size: 20px;
		padding-top: 1%;
	}

	.footer-logo h4 {
		font-size: 12px;
	}

	footer .container .footer-nav li {
		padding: 0 4px;
	}
}
