.main-portfolio {
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.portfolio-container {
	display: flex;
	margin: auto;
}

.portfolio-container p {
	font-weight: 300;
}

.portfolio-item {
	width: 33%;
	margin: 0 15px;
	text-align: center;
}

