.main-portfolio {
	height: 90vh;
	width: 80%;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
}

.main-portfolio p {
	font-weight: 300;
}

.main-portfolio .container {
	display: flex;
	margin: auto;
	flex-direction: column;
}

.main-portfolio .portfolio-title {
	width: 100%;
	text-align: left;
	padding-left: 3%;
	text-transform: uppercase;
}

.main-portfolio .portfolio-items {
	display: flex;
}

.main-portfolio .portfolio-item:first-child {
	margin-left: 3%;
}

.main-portfolio .portfolio-item {
	width: calc(100%/3);
	text-align: left;
	position: relative;
	padding-bottom: 30px;
	margin-right: 3%;
	overflow: hidden;
}

.main-portfolio .portfolio-item a {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 20px;
	padding: 10px 20px;
	border: 1px solid darkgrey;
	background: none;
	color: black;
	font-weight: 300;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.main-portfolio .portfolio-item a:visited {
	color: black;
}

.main-portfolio .portfolio-item a:hover {
	background: rgba(0, 0, 0, 1);
	color: white;
}

@media all and (max-width: 940px) {
	.main-portfolio {
		width: 90%;
		text-align: center;
		padding-top: 35%;
		height: auto;
		padding-bottom: 4%;
	}
	
	.main-portfolio .portfolio-title {
		text-align: center;
		padding: 0;
	}

	.main-portfolio .portfolio-title  h2 {
		margin: 0;
	}

	.main-portfolio .portfolio-items {
		flex-direction: column;
	}

	.main-portfolio .portfolio-item:first-child {
		margin: 0 auto;
	}

	.main-portfolio .portfolio-item {
		width: 90%;
		margin: 0 auto;
		padding-top: 5%;
		text-align: center;
		padding-bottom: 10%;
	}

	.main-portfolio .portfolio-item a {
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}